footer {
    width: 100%;
    display: grid;
    height: 10vh;
    background-color: rgba(0, 26, 51, 1);
    color: white;
    text-align: center;
    align-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}