nav {
    margin: 0em 0 1em 0em;
    padding: 1em 0 0 0;
    /*
    color: white;
    position: absolute;
    */
    ol {
        list-style: none;
        margin: 0em 0 0 0;
        padding: 0;
        a {
            text-decoration: none;
            color: black;
            margin-left: 1em;
            li {
                display: inline-block !important;
                border: 1px solid black;
                font-family: "Comic Sans MS", cursive, sans-serif;
                padding: 0.5em;
                width: 100px;
                text-align: center;
                border-radius: 20px;
                font-size: 18px;
            }
            li:hover {
                background-color: darkblue;
                color: white;
            }
            li:first-child {
                display: none;
            }
        }
        a:visited {
            color: black;
        }
        a:nth-child(2) {
            margin: 0;
        }
        a:first-child {
            display: none;
        }
    }
}