nav {
    margin: 0em 0 1em 0em;
    padding: 1em 0 0 0;
    /*
    color: white;
    position: absolute;
    */
    ol {
        list-style: none;
        margin: 0em 0 0 0;
        padding: 0;
        a {
            text-decoration: none;
            color: black;
            margin-left: 1em;
            li {
                display: inline-block;
                border: 1px solid black;
                font-family: "Comic Sans MS", cursive, sans-serif;
                padding: 0.5em;
                width: 100px;
                text-align: center;
                border-radius: 20px;
                font-size: 18px;
            }
            li:hover {
                background-color: darkblue;
                color: white;
            }
        }
        a:visited {
            color: black;
        }
        a:nth-child(1) {
            margin: 0;
        }
    }
}

header {
    background-color: lightblue;
}

html {
    position: relative;
    min-height: 100%;
}

footer {
    width: 100%;
    display: grid;
    height: 10vh;
    background-color: black;
    color: white;
    text-align: center;
    align-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

main {
    display: grid;
    align-content: center;
    text-align: center;
    margin: 0 5em 0 5em;
    h2 {
        margin: 3.5em 0 0 0;
        font-size: 48px;
        font-weight: normal;
        font-family: 'Special Elite', cursive;
    }
    p {
        font-size: 20px;
        font-family: 'Cinzel', serif;
    }
    h4 {
        font-size: 30px;
    }
}

body {
    margin: 0 0 100px;
    padding: 0;
}

.background {
    background: linear-gradient(90deg, rgba(149,143,255,1) 0%, rgba(20,20,140,1) 37%, rgba(19,62,101,1) 65%, rgba(82,226,255,1) 100%);
    background-size: 300%;
    animation: flow 10s ease-in-out infinite;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    margin: -3.5em 0 0 11em;
    font-size: 72px;
    color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

@keyframes flow {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}