@use "small";
@use "medium";
@use "big";
@use "desktop";
@use "bigDesktop";
@use "footer";
@use "nav";
@use "main";
@use "mixin" as m;

header {
    background-color: rgba(0, 102, 204, 1);
}

html {
    position: relative;
    min-height: 100%;
}

#majorThreats,
#safetyTips,
#help {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    ul {
        list-style-type: none;
    }
}

main {
    font-size: 22px;

    ul {
        list-style-type: circle;
        display: block;
        text-align: start;

        li {
            padding: 0 !important;
            text-align: start;
        }
    }

    ol {
        list-style-type: decimal;
        text-align: start;

        li {
            padding: 0%;
            width: auto;
        }
    }
}

body {
    margin: 0 0 100px;
    padding: 0;
    background-color: rgba(0, 64, 128, 1);
    color: rgb(199, 187, 187);
}

.active {
    background-color: rgb(52, 139, 226);
    border-radius: 20px;
}

#age {
    grid-column: 2/3 !important;
}

.bubble {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(204, 208, 213, 1) 10%, rgba(195, 200, 205, 1) 90%, rgba(255, 255, 255, 1) 100%);
    aspect-ratio: 1/1;
    width: 1rem;
    border-radius: 50%;
    position: absolute;
    opacity: 0.2;
}

.background {
    position: relative;
    background: rgb(0, 26, 51);
    background: linear-gradient(0deg, rgba(0, 26, 51, 1) 19%, rgba(0, 51, 102, 1) 36%, rgba(0, 64, 128, 1) 60%, rgba(0, 89, 179, 1) 81%, rgba(0, 102, 204, 1) 100%);
    background-size: 300%;
    overflow: hidden;

    @include m.bubble-positions(200);
}

#shark {
    animation: swim 10s ease-in-out infinite;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    margin: -3.5em 0 0 11em;
    font-size: 72px;
    color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

@keyframes swim {
    0% {
        transform: translateX(-60%) scale(0%);
    }

    69% {
        opacity: 1;
    }

    70% {
        transform: translateX(260%);
        opacity: 0;
    }

    72% {
        opacity: 0;
        transform: translateX(-260%);
    }

    98% {
        opacity: 0;
    }

    99% {
        opacity: 1;
    }

    100% {
        transform: translateX(0%) scale(0%);
    }
}

@keyframes bubbleFloat {

    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-1500%);
    }
}

@keyframes bubbleShake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5%);
    }

    75% {
        transform: translateX(5%);
    }
}